*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 21px;
}

.cssForFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topLine {
    width: 100%;
    height: 30px;
    background-color: #60267F;
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: ; */
}

.topLinePara {
    font-size: 8px;
}

.learnMore {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    border-bottom: 2px solid rgb(220, 220, 220, 0.5);
}

.headerContainer img {
    width: 100px;
}

.navigationContainer nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navigationContainer nav ul {
    display: flex;
    gap: 20px;
}

.navigationContainer nav ul li {
    list-style: none;
}

.navigationContainer nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.headerButton {
    border: none;
    background-color: transparent;
    border: 1px solid #9A54BC;
    color: #9A54BC;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.headerButton:hover {
    background-color: #9A54BC;
    color: white;
}

.topSection {
margin-top: 50px;
gap: 30px;
}

.topSectionHeader {
color: #2B0236;
font-size: 32px;
text-align: center;
}

.topSectionButton {
    border: 1px solid #9A54BC;
    background-color: #9A54BC;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    font-weight: 500;
}

.topSectionButton:hover {
    background-color: white;
    color: #9A54BC;
    cursor: pointer;
}

.elipsesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
}

.absolute {
    position: absolute;
}

.smallElipse {
    top: 130px;
}

.rectangle{
    top: 135px;
}

.collab{
    top: 205px;
    width: 65px;
}

.elipseBtn{
    bottom: 155px;
    padding: 3px 7px;
    font-size: 10px;
    border: 1.01px solid #9A54BC;
    background-color: white;
    color: #60267F;
    border-radius: 3px;
    cursor: pointer;
}

.elipseBtn:hover {
    background-color: #9A54BC;
    color: white;
}

.iconContainer{
    gap: 50px;

}

.icons {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bigPhoneContainer{
    margin-top: 100px;
    gap: 2rem;
}

.vendorAppAndPhoneContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 50px;
}

.paragraph{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.vendorAppPhone{
    display: flex;
    justify-content: center;
    width: 50%;
}

.paragraphBTNContainer{
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
}
.paragraphBTNContainer>button {
    width: 50%;
    padding: 5px;
    border: white 2px solid;
    background-color: transparent;
}

.paragraphBTNContainer>button:hover{
    cursor: pointer;
    background-color: #60267F;
    border: #9A54BC 2px solid;
    border-radius: 3px;
    color: white;
}

.paragraphContainer{
    gap: 10px;
}

.vendorParagraph {
    background-color: #F2F2F2;
    width: 95%;
    padding: 17px 15px;
    font-size: 10px;
}

.vendorParagraph span {
    font-weight: 600;
    font-size: 11px;
}

.videoContainer {
    gap: 50px;
    margin-top: 150px;
    padding: 30px;
}

.videoContainer p {
    width: 75%;
    text-align: center;
    font-size: 12px;
    font-weight: 500px;
}

.smallCardsSection h2{
    text-align: center;
}

.smallCardsContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.smallCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.smallCard span{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
}

.span1 {
    color: #9A54BC;
}

.bigThreeCardsContainer {
    margin-top: 75px;
    gap: 15px;
}

.bigThreeCardsContainer span{
    color: #A79D9D;
    font-size: 10px;
    font-weight: 500;
}

.discountContainer {
    gap: 5px;
    margin-top: 10px;
}

.yearly {
    color: black!important;
}

.discount {
    font-size: 7px!important;
    background-color: #FFE87A;
    padding: 2px;
    border-radius: 5px;
    color: black!important;
}

.bigCardsContainer {
    gap: 30px;
    width: 50%;
}

.bigCard {
    border: 1px #AAAAAA solid;
    border-radius: 5px;
    padding: 20px 25px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bigCardPara {
    font-size: 12px;
    font-weight: 500;
}

.bigCard button {
    color: #2B0236;
    border: 2px solid #2B0236;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
}

.bigCard button:hover{
    cursor: pointer;
    background-color: #2B0236;
    color: white;
}

.bigCardsList li{
    padding: 10px;
    margin-left: 10px;
}

.bigCardsList li::marker {
    content: "▶";
}