*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 21px;
}

.cssForFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topLine {
    width: 100%;
    height: 30px;
    background-color: #60267F;
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: ; */
}

.topLinePara {
    font-size: 8px;
}

.learnMore {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    border-bottom: 2px solid rgb(220, 220, 220, 0.5);
}

.headerContainer img {
    width: 100px;
}

.navigationContainer nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navigationContainer nav ul {
    display: flex;
    gap: 20px;
}

.navigationContainer nav ul li {
    list-style: none;
}

.navigationContainer nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.headerButton {
    border: none;
    background-color: transparent;
    border: 1px solid #9A54BC;
    color: #9A54BC;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.headerButton:hover {
    background-color: #9A54BC;
    color: white;
}

.topSection {
margin-top: 50px;
gap: 30px;
}

.topSectionHeader {
color: #2B0236;
font-size: 32px;
text-align: center;
}

.topSectionButton {
    border: 1px solid #9A54BC;
    background-color: #9A54BC;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    font-weight: 500;
}

.topSectionButton:hover {
    background-color: white;
    color: #9A54BC;
    cursor: pointer;
}

.elipsesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
}

.absolute {
    position: absolute;
}

.smallElipse {
    top: 130px;
}

.rectangle{
    top: 135px;
}

.collab{
    top: 205px;
    width: 65px;
}

.elipseBtn{
    bottom: 155px;
    padding: 3px 7px;
    font-size: 10px;
    border: 1.01px solid #9A54BC;
    background-color: white;
    color: #60267F;
    border-radius: 3px;
    cursor: pointer;
}

.elipseBtn:hover {
    background-color: #9A54BC;
    color: white;
}

.iconContainer{
    gap: 50px;

}

.icons {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bigPhoneContainer{
    margin-top: 100px;
    gap: 2rem;
}

.vendorAppAndPhoneContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 50px;
}

.paragraph{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.vendorAppPhone{
    display: flex;
    justify-content: center;
    width: 50%;
}

.paragraphBTNContainer{
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
}
.paragraphBTNContainer>button {
    width: 50%;
    padding: 5px;
    border: white 2px solid;
    background-color: transparent;
}

.paragraphBTNContainer>button:hover{
    cursor: pointer;
    background-color: #60267F;
    border: #9A54BC 2px solid;
    border-radius: 3px;
    color: white;
}

.paragraphContainer{
    gap: 10px;
}

.vendorParagraph {
    background-color: #F2F2F2;
    width: 95%;
    padding: 17px 15px;
    font-size: 10px;
}

.vendorParagraph span {
    font-weight: 600;
    font-size: 11px;
}

.videoContainer {
    gap: 50px;
    margin-top: 150px;
    padding: 30px;
}

.videoContainer p {
    width: 75%;
    text-align: center;
    font-size: 12px;
    font-weight: 500px;
}

.smallCardsSection h2{
    text-align: center;
}

.smallCardsContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.smallCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.smallCard span{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
}

.span1 {
    color: #9A54BC;
}

.bigThreeCardsContainer {
    margin-top: 75px;
    gap: 15px;
}

.bigThreeCardsContainer span{
    color: #A79D9D;
    font-size: 10px;
    font-weight: 500;
}

.discountContainer {
    gap: 5px;
    margin-top: 10px;
}

.yearly {
    color: black!important;
}

.discount {
    font-size: 7px!important;
    background-color: #FFE87A;
    padding: 2px;
    border-radius: 5px;
    color: black!important;
}

.bigCardsContainer {
    gap: 30px;
    width: 50%;
}

.bigCard {
    border: 1px #AAAAAA solid;
    border-radius: 5px;
    padding: 20px 25px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bigCardPara {
    font-size: 12px;
    font-weight: 500;
}

.bigCard button {
    color: #2B0236;
    border: 2px solid #2B0236;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
}

.bigCard button:hover{
    cursor: pointer;
    background-color: #2B0236;
    color: white;
}

.bigCardsList li{
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.bigCardsList li::marker {
    content: "▶";
}

.green {
    background-color: #56E6A5;
}

.bigCardParaLast {
    font-size: 12px;
}

.userMap {
    gap: 50px;
    margin-top: 50px;
    padding: 20px;

}

.bigUsersMap span {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.bigUsersMap button {
    padding: 10px 15px;
    font-size: 10px;
    background-color: #9A54BC;
    border: 1.5px solid #9A54BC;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.bigUsersMap button:hover {
    background-color: white;
    color: #60267F;
}

.stars {
    margin-top: 80px;
    margin-bottom: 60px;
}

.starsContainer {
    gap: 90px;
}

.starsContainer p {
    width: 501.83px;
    height: 135.58px;
    font-weight: 500;
    font-size: 10.56px;
    line-height: 14.09px;
    text-align: center;
}

.starsContainer img {
    margin-bottom: 70px;
}

.userMapFoto {
    position: relative;
}

.userMapFoto img:first-child {
    position: absolute;
    top: -190px;
    left: -130px;
}

.userMapFoto img:nth-child(2) {
    position: relative;
    top: -80px;
    left: -20px;
}

.userMapFoto img:nth-child(3) {
    position: relative;
    top: -100px;
    left: 20px;
}

.userMapFoto img:nth-child(4) {
    position: relative;
    top: -30px;
    right: -50px;
}

.userMapFoto img:nth-child(5) {
    position: relative;
    top: -50px;
    right: -80px;
}

.userMapFoto img:nth-child(6) {
    position: relative;
    top: -70px;
    right: -80px;
}

.userMapFoto img:nth-child(7) {
    position: relative;
    top: -40px;
    right: -110px;
}

.userMapFoto img:nth-child(8) {
    position: relative;
    top: -90px;
    right: -130px;
}

.userMapFoto div {
    position: relative;
    top: -150px;
    right: -10px;
    color: #9A54BC;
}

.downloadApps {
    background-color: #9A54BC;
    margin-top: 75px;
    height: 300px;
    gap: 30px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.appBtn {
    gap: 20px;
}

.btn2 {
    color: #fff;
    border: 2px solid #fff;
    background-color: #9A54BC;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    width: 120px;
    height: 35px;
}

.btn1 {
    color: #9A54BC;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    width: 120px;
    height: 35px;
}

.btn1:hover {
    cursor: pointer;
    color: #fff;
    background-color: #9A54BC;
}

.btn2:hover {
    cursor: pointer;
    color: #9A54BC;
    background-color: #fff;
}

.mapSection {
    gap: 50px;
}

.mapSection h2{
    font-weight: 500;
    font-size: 1.7rem;
}

.mapFirstP:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mapSection p{
    font-weight: 500;
}

.mapPara {
    margin-top: -50px;
    gap: 30px;
}

.map iframe{
    width: 500px;
    height: 350px;
    margin-bottom: 90px;
}


.bottomSectionContainer {
    margin-top: 120px;
}

.bottomSection {
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.firstDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 250px;
    height: 100px;
    margin-top: -100px;
}

.firstDiv p:nth-child(3){
    font-weight: 500;
}

.bottomPara {
    display: flex;
    flex-direction: column;
    height: 100px;
    gap: 30px;
}

.bottomPara p{
    color:#9A54BC ;
}

.bottomPara p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bottomIMG {
    display: flex;
    gap: 20px;
}

.bottomIMG:hover {
    cursor: pointer;
}

.contactUS {
    color: black!important;
    font-weight: 500;
}

.contactUS:hover {
    text-decoration: none!important;
    cursor: none!important;
}

.bottomMail{
    margin-top: 95px;
}

.footer {
    margin-top: 160px;
    background-color: #60267F;
    padding: 8px;
}

.footer nav ul li a {
    font-family: sans-serif;
    font-weight: 400;
    size: 10.56px;
    line-height: 13.76px;
    background-color: #60267F;
    color: white;
    padding: 8px;

}

footer ul {
    list-style: none;
}
.legal {
    margin-left: -60px;
}